<div>
    <div class="row" id="profile">
        <div class="col-sm-3 text-center">
            <div id="avatar"><%= react_component("Avatar")%></div>
            <div id="about"><%= react_component("About")%></div>
        </div>
        <div id="right-container" class="col-sm-9">
          <div id="heading" class="page-header text-center">
             <%= react_component("Heading", name: 'PROFILE') %>
          </div>
          <div id="feeds">
            <%= react_component("Profile")%>
          </div>
        </div>
    </div>
</div>